
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=7Ysxz6UrHUQfnrkXFlkVvA==,nVLU+bWCY95T+KZmsuxU2Q==,Vd9DsBAng+tT0I8zY7rwvw==,2f9znJ3GeVWELyUcKZF2RA==
API_TOKEN_SALT=HVrWUDEcyu1xFa1egHOcaA==
ADMIN_JWT_SECRET=zdDlKQhLwttg3F1Fl9OdSQ==
TRANSFER_TOKEN_SALT=63EHRDCMy4frURWimhhU1A==

# Database
DATABASE_URL=toBeModified
DATABASE_CLIENT=postgres
DATABASE_HOST=toBeModified
DATABASE_PORT=5432
DATABASE_NAME=toBeModified
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=toBeModified
DATABASE_SSL=false
JWT_SECRET=zeUBvFmZO7hwAf2sXey3hg==
NODE_ENV="production"

#Cloudinary

CLOUDINARY_NAME=dgrql3ro1
CLOUDINARY_KEY=474724741359257
CLOUDINARY_SECRET=rs3xRkxFy5GxEIM4u5uA8rRKHfA

